@import 'vendors/reset';
@import 'vendors/fonts';

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Gotham';
  background-color: #ecf0f1;
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #34495e;
}

h2 {
  font-size: 20px;
}

input {
  &:focus {
    outline:0;
  }
}

.play {
  margin-top: 50px;
  color: #34495e;
  font-size: 20px;
  letter-spacing: 2px;
  width: 100px;
  height: 40px;
  background: none;
  border: 1px solid #34495e;
  transition: 1s;
  cursor: pointer;
  &:focus {
    outline:0;
  }
  &:hover {
    border: 0;
    background: #34495e;
    color: #ecf0f1;
  }
}